<%= form_tag availability_create_path, method: :post, :url => {:action => "create"} do |f| %>

    <h3>Choose Availability</h3>
    <table class="availibility-choose"> 
        <thead>
            <th>Day</th>
            <th>5am - Noon</th>
            <th>Noon - 4pm</th>
            <th>4pm - 10pm</th>
        </thead>
        <tbody>
            <tr>
                <td>Monday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'M-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'M-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'M-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'T-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'T-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'T-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'W-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'W-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'W-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'Th-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'Th-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'Th-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'F-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'F-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'F-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'S-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'S-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'S-E', {}, '1')%></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td class="check"><%= check_box('availability_slots[day]', 'Su-M', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'Su-A', {}, '1')%></td>
                <td class="check"><%= check_box('availability_slots[day]', 'Su-E', {}, '1')%></td>
            </tr>
        </tbody>
    </table>
    
    <br />
    <div class="form-actions">
        <%= submit_tag "Save Time Prefs", name: "time-button" %>
    </div>
<% end %>



