<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :first_name, :autofocus => true %>
  <%= f.input :last_name %>
  <%= f.input :email, :required => true %>

  <hr />

  <% location_array = [] %>
  <% Location.all.each do |x| %>
    <% a = [ x.name.titleize , x.id ] %>
    <% location_array << a %>
  <% end %>

  <%= f.input :location_id, :as => :select do %>
    <%= f.select :location_id, location_array %>
  <% end %>
  <p>&nbsp;</p>


  <%= f.input :skillset, :required => true, label: 'NTRP Rating (Level)', input_html: { class: 'form_field_subtext' } %>
  <small class="form_hint_text">NTRP Rating: <a href="/ntrp_rating_info.pdf" target="_blank">Here</a></small>
  <%= f.input :age, :required => true %>
  <%#= f.input :gender, :required => true %>
  <%= f.input :gender, :as => :select do %>
    <%= f.select :gender, [['Male', 'm'], ['Female', 'f']] %>
  <% end %>

  <%= f.input :profile_pic, label: 'Profile Picture URL (optional)', input_html: { class: 'form_field_subtext' } %>
  <small class="form_hint_text">Paste Picture URL (e.g. http://domain.com/image.jpg)</small>

  

  <hr />

  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, 'Save Profile', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
