<h3>
	<% if @user.profile_pic %>
		<img src="<%= @user.profile_pic %>" />
	<% else %>
		<img src="http://placehold.it/50x50" />
	<% end %>
	<%= @user.first_name.capitalize if @user.first_name %> <%= @user.last_name.capitalize if @user.last_name %>
</h3>

<hr />

<% if @user.email %>
	<p>Email: <a href="mailto:<%= @user.email %>"><%= @user.email if @user.email %></a></p>
<% end %>

<p>Gender: <%= @user.gender if @user.gender %></p>
<p>NTRP Level: <%= @user.skillset if @user.skillset %></p>

<% if @user.rating %>
	<p>
	   <%= "Rating:" %>
	   <% @user.rating.to_i.times do %>
	   	 (B)
	   <% end %>
	</p>
<% end %>

<p>Age: <%= @user.age if @user.age %></p>


<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_registration_path, { class: "button" } %>
<% else %>
  <%= link_to "New Match", new_user_match_path(@user), {class: "button wide-btn"} %>
<% end %>


