<h1>Listing courts</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Open</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <td><%= court.type %></td>
        <td><%= court.open %></td>
        <td><%= court.location %></td>
        <td><%= link_to 'Show', court %></td>
        <td><%= link_to 'Edit', edit_court_path(court) %></td>
        <td><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Court', new_court_path %>
