<p id="notice"><%= notice %></p>

<p>
  <strong>Game time:</strong>
  <%= @match.game_time %>
</p>

<p>
  <strong>Players:</strong><br />
  <% @match.players.each do |player| %>
  	<%= player.user.first_name %><br />
  <% end %>
</p>

<p>
  <strong>Court:</strong>
  <%= @match.court %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
