<p>
  <strong>Game Time:</strong><br />
  <%= @match.game_time.to_formatted_s(:awesome_time) %>
</p>

<p>
  <strong>Players:</strong><br />
  <% @match.players.each do |player| %>
  	<% if player.user == current_user %>
  	  <%= link_to "#{player.user.first_name} #{player.user.last_name} (Me)", user_path(player.user.id) %>
  	<% else %>
  	  <%= link_to "#{player.user.first_name} #{player.user.last_name}", user_path(player.user.id) %>
  	<% end %>
  	<br />
  <% end %>
</p>

<p>
  <strong>Court:</strong>
  <%= @match.court %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
