<p id="notice"><%= notice %></p>

<h3>
  <%= @location.name.titleize %>
</h3>

<% if @location.address1 || @location.address2 || @location.state || @location.city || @location.zip %>
  <p>
    <%= "#{@location.address1}," if @location.address1 %> <%= "#{@location.address2}," if @location.address2 %> <%= "#{@location.city}" if @location.city %> <%= "#{@location.state}" if @location.state %> <%= "#{@location.zip}" if @location.zip %>
  </p>
<% end %> 
<hr />

<% @users.each do |user| %>
  <h4 class="user-rows-wrapper">
  	<div class="user-rows-img-wrap">
  		<% if user.profile_pic %>
			  <img src="<%= user.profile_pic %>" width="50px" />
		  <% else %>
			  <div class="placeholderimg" style="font-size: 50px;">
				  <%= image_tag 'headshot_placeholder.png', size: "50x50" %>
			  </div>
		  <% end %>
  	</div>
    <%= "#{user.first_name} #{user.last_name}  (level: #{user.skillset})" %>
    <i class="icon-calendar-empty"></i>
    <%= link_to new_user_match_path(user), {class: ''} do %>
		Challenge
    <% end %>
  </h4>
<% end %>

<%#= link_to 'Edit', edit_location_path(@location) %>
<%#= link_to 'Back', locations_path %>
