<p id="notice"><%= notice %></p>

<h3>
  <!-- <strong>Name:</strong> -->
  <%= @location.name %>
</h3>

<% if @location.address1 || @location.address2 || @location.state || @location.city || @location.zip %>
  <p>
    <%= "#{@location.address1}," if @location.address1 %> <%= "#{@location.address2}," if @location.address2 %> <%= "#{@location.city}" if @location.city %> <%= "#{@location.state}" if @location.state %> <%= "#{@location.zip}" if @location.zip %>
  </p>
<% end %> 
<hr />

<% @users.each do |user| %>
  <h4>
    <%= "#{user.first_name} #{user.last_name}  (level: #{user.skillset})" %>
    <%= link_to "Challenge", new_user_match_path(user)%>
  </h4>
<% end %>

<%#= link_to 'Edit', edit_location_path(@location) %>
<%#= link_to 'Back', locations_path %>
