<!-- Defines a coffin drawer -->
<div class="coffin">
  <div class="bar">matchsetter</div>
  <ul class="nav">
    <li>
      <%= link_to "Home", root_path %>
    </li>
    
	<% if user_signed_in? %>
      <li><%= link_to "My Profile", user_path(current_user.id) %></li>
		  <li><%= link_to "My Club", location_path(current_user.location) %></li>
    	<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    	</li>
    	<% if current_user.has_role? :admin %>
	      <li><%= link_to 'Admin', users_path %></li>
	    <% end %>
    <% else %>
	    <li><%= link_to 'Login', new_user_session_path %></li>	
	    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>

    <li><a data-coffin="click" href="#about">About</a></li>
    <li><a data-coffin="click" href="#contact">Contact</a></li>
  </ul>
</div>