<!-- Defines a coffin drawer -->
<div class="coffin">
  <div class="bar">matchsetter</div>
  <ul class="nav">
    <li>
      <%= link_to root_path do %>
        <i class="icon-home sidebar-icon"></i>&nbsp;&nbsp;Home
      <% end %>
    </li>
    
	<% if user_signed_in? %>
      <li><%= link_to user_path(current_user.id) do %>
          <i class="icon-user"></i>&nbsp;&nbsp;My Profile
        <% end %></li>
		  <li>
        <%= link_to location_path(current_user.location) do %>
          <i class="icon-group"></i>&nbsp;&nbsp;My Club
        <% end %>
      </li>
    	<li><%= link_to destroy_user_session_path, :method=>'delete' do %>
          <i class="icon-signout"></i>&nbsp;&nbsp;Logout
        <% end %>
      </li>
    	</li>
    	<% if current_user.has_role? :admin %>
	      <li><%= link_to 'Admin', users_path %></li>
	    <% end %>
    <% else %>
	    <li>
        <%= link_to new_user_session_path do %>
          <i class="icon-signin"></i>&nbsp;&nbsp;Login
        <% end %>  
      </li>	
	    <li><%= link_to new_user_registration_path do %>
          <i class="icon-check"></i>&nbsp;&nbsp;Sign Up
        <% end %>
      </li>
    <% end %>

    <li><a data-coffin="click" href="#info"><i class="icon-info-sign"></i>&nbsp;&nbsp;About | Contact</a></li>
    <!-- <li><a data-coffin="click" href="#contact">Contact</a></li> -->
  </ul>
</div>

<!-- <i class="icon-star"></i> -->