<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Matchsetter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Matchsetter" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">


    <%= render 'layouts/coffin_drawer' %>

    <div class="page">
      <div id="container" class="container">
        <div class="ten columns content">
          <header>
            <% if user_signed_in? %>
              <span class="header-fonts"><%= render 'layouts/navigation' %></span>
            <% end %>
            <%= render 'layouts/messages' %>
          </header>
          
          <div id="main" role="main">
            
            <%= yield %>
            
          </div>
          <footer>
          </footer>
        </div> <!--! end of .ten.columns.content -->
      </div> <!--! end of #container -->
    </div> <!--! end of .page -->

  <!-- javascript -->  
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  </body>
</html>
