<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Matchsetter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Matchsetter" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
<<<<<<< HEAD
    
=======
    <%= javascript_include_tag "application" %>
>>>>>>> 8b38ac7a86a47591e786b19a969327025109c85b
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
<<<<<<< HEAD

    <%= render 'layouts/coffin_drawer' %>

    <div class="page">
      <div id="container" class="container">
        <div class="ten columns content">
          <header>
            <%= render 'layouts/navigation' %>
            <%= render 'layouts/messages' %>
          </header>
          <div id="main" role="main">
            
            <%= yield %>
          </div>
          <footer>
          </footer>
        </div> <!--! end of .ten.columns.content -->
      </div> <!--! end of #container -->
    </div> <!--! end of .page -->

  <!-- javascript -->  
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
=======
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
>>>>>>> 8b38ac7a86a47591e786b19a969327025109c85b
  </body>
</html>
